body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.topnav {
    overflow: hidden;
    background-color: darkviolet;
}

.topnav a {
    float: left;
    color: indigo;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: darkslateblue;
    color: indigo;
}

.topnav a.active {
    background-color: darkslateblue;
    color: white;
}