.info body {
    background-color: blanchedalmond;
}
.info h1 {
    color: cornflowerblue;
}

.info input {
    color: darkslateblue;
}
.info a{
    color: cadetblue;
}
.info{
    margin: auto;
    width: 60%;
    padding: 10px;
}